.content{
    margin-top: 100px;
}
.btn_remove{
    border: none;
    background: none;
    outline: none;
    color: red;
}
.options{
    display: flex;
    justify-content: space-around;
}
.img_style{
    width: 50px;
    height: 100px;
}
.img-responsive{
    max-width: 50px;
    max-height: 100px;
}